<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <!-- used a partial, _user.html.erb -->
  <!-- we refactored code, rails knows to look -->
  <!-- for @users. we do not need to inlude previoud code -->
  <%= render @users %>
</ul>

<!-- we user this twice so that we can -->
<!-- have links above and below the users -->
<%= will_paginate %>