<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
  <!-- used a partial, _user.html.erb -->
    <%= render user %>
  <% end %>
</ul>

<!-- we user this twice so that we can 
     have links above and below the users -->
<%= will_paginate %>